<!-- components/modal.html -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p class="text-danger" id="{{ modal_id }}-warning"></p>
        <p id="{{ modal_id }}-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancel_text or 'Cancel' }}</button>
        <a href="#" id="{{ modal_id }}-confirmBtn" class="btn btn-danger">{{ confirm_text or 'Confirm' }}</a>
      </div>
    </div>
  </div>
</div>
