{% extends 'userbase.html' %}
{% block title %}Departure Board{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'departure_board' %}

{% block content %}

<section class="container col-lg-9 col-md-10 col-sm-12 mx-auto p-5">
    <h2 class="text-center align-middle fw-bold py-2">Departure Board</h2>
    <p class="text-center align-middle lead text-muted">Stay on track with events from journeys, users, and locations you follow.</p>

    <!-- No announcements message -->
    <div class="text-center my-5 py-5" style="background-color: #f0f0f0; border-radius: 40px;">
        <i class="fas fa-calendar-alt fa-5x my-4" style="color: #ccc;"></i>
        <h3 class="text-muted">No events available yet.</h3>
    </div>
</section>

{% endblock %}
