{% extends 'userbase.html' %}
{% block title %}View Announcement{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="container px-5 pb-5">
    <div class="row justify-content-center">
        <!-- Journey details header -->
        <div class="col-md-8 px-2 mb-4">
            <div class="p-5" style="background-color: #f0f0f0; border-radius: 40px;">

                <!-- Journey title  info -->
                <div class="my-4">
                    <p class="text-muted">
                        {{ announcement.created_time.strftime('%d %b %Y') }}
                    </p>
                    <h1 class="fw-bold mb-3">{{ announcement.title }}</h1>
                </div>

                <!-- Journey description -->
                <div class="mb-4 py-4">
                    <p class="p-announce">{{ announcement.content }}</p>
                </div>

                <!-- Back btn -->
                <div class="mt-4">
                    <a href="{{ url_for('announcements_list') }}" class="btn btn-outline-secondary btn-back mb-3 d-inline-flex align-items-center">
                        <i class="bi bi-arrow-left text-dark fs-5 me-1 align-middle"></i><span class="px-2">Back to Announcements</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}