{% extends "base/userbase.html" %}
{% block title %}Payment Page{% endblock %}

{% block content %}
<div class="container px-5">
    <div class="row justify-content-center" style="padding-bottom: 2.8rem;">

        <!-- Title -->
        <div class="col text-center mx-auto pb-2 px-2">
            <h1 class="fw-bold">Complete Your Subscription</h1>
            <p class="text-note">Enter your payment and billing details to activate your premium journey features.
                <br>All subscriptions are pre-paid and non-renewing. A 15% GST applies to NZ users only.</p>
        </div>

        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Payment Proccess -->
        <div class="row justify-content-center m-4">
            
            <!-- Left : Payment Form -->
            <div class="col-md-8 mb-5">    
                <form method="POST" action="{{ url_for('process_payment') }}">
                    <input type="hidden" name="subscription_id" value="{{ subscription.subscription_id }}">
                    <input type="hidden" name="duration_months" value="{{ subscription.duration_months }}">
                    <input type="hidden" name="price_nzd_excl_gst" value="{{ subscription.price_nzd_excl_gst }}">
                    <input type="hidden" name="price_nzd_incl_gst" value="{{ subscription.price_nzd_incl_gst }}">
                    <input type="hidden" name="price_to_pay" id="price_to_pay" value="">

                    <div class="card col-rounded border-0 p-5">

                        <div class="mb-4" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                            <h2 class="fw-bold pb-4">Payment Details</h2>
                        </div>

                        <!-- Form : Payment Form -->
                        <h5 class="fw-bold py-4"><i class="bi bi-credit-card pe-2"></i>Card Information</h5>

                        <div class="mb-3">
                            <label for="card_number" class="form-label">Credit Card Number</label>
                            <input type="text" class="form-control form-control-lg" id="card_number" value="{{ subscription.card_number }}" name="card_number" placeholder="0000-0000-0000-0000" required pattern="(\d{4}-){3}\d{4}" >
                            <div class="form-text">Use a fictitious card number like "0000-0000-0000-0000"</div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2">
                                <label for="expiry_date" class="form-label">Expiry Date</label>
                                <input type="text" class="form-control form-control-lg" id="expiry_date" value="{{ subscription.expiry_date }}" name="expiry_date" placeholder="MM/YYYY" required pattern="(0[1-9]|1[0-2])\/\d{4}">
                                <div class="form-text">Example: 01/2025</div>
                                <div id="expiry_error" style="color: red; font-size: 0.9em; margin-top: 4px;"></div>
                            </div>

                            <div class="col-12 col-md-6 mb-2">
                                <label for="cvv" class="form-label">CVV Security Code</label>
                                <input type="text" class="form-control form-control-lg" id="cvv" value="{{ subscription.cvv }}" name="cvv" placeholder="000" required pattern="\d{3}">
                                <div class="form-text">Use a fictitious code like "000"</div>
                            </div>
                        </div>

                        <h5 class="fw-bold py-4"><i class="bi bi-geo-alt pe-2"></i>Billing Address</h5>

                        <div class="mb-3">
                            <label for="billing_country" class="form-label">Country</label>
                            <select class="form-select form-select-lg" id="billing_country" name="billing_country" style="color: #00000070; font-size: 1rem;" required>
                                <option value="" disabled selected>Select your billing country</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="VG">British Virgin Islands</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curacao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="CD">Democratic Republic of the Congo</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="TL">East Timor</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="SZ">Eswatini</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="PF">French Polynesia</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="CI">Ivory Coast</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="XK">Kosovo</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="KP">North Korea</option>
                                <option value="MK">North Macedonia</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestine</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="CG">Republic of the Congo</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthelemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SX">Sint Maarten</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="KR">South Korea</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican City</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="billing_address" class="form-label">Address</label>
                            <input type="text" class="form-control form-control-lg" id="billing_address" value="{{ subscription.billing_address }}" name="billing_address" placeholder="Street address, city, postcode" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg mt-4">Confirm Payment</button>

                    </div>
                </form>
            </div>

            <!-- Right: Subscription Plan Summary -->
            <div class="col-md-4">
                <div class="card col-rounded border-0 p-5">
                    <div class="mb-5" style="border-bottom: 1px solid #0000001a;">
                        <h2 class="fw-bold pb-4">Plan Summary</h2>
                    </div>

                    <!-- Plan Name -->
                    <div class="row mb-2">
                        <div class="col">
                            <h5>Plan</h5>
                        </div>
                        <div class="col">
                            <h5 class="fw-bold">{{ subscription.name }}</h5>
                            <p class="text-note">
                                Duration: {{ subscription.duration_months }} month{{ 's' if subscription.duration_months > 1 else '' }}
                            </p>
                        </div>
                    </div>

                    <!-- Discount -->
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Discount</h5>
                        </div>
                        <div class="col">
                            <h5 class="fw-bold">
                                {% if subscription.discount_percent | int != 0 %}
                                    {{ subscription.discount_percent | int }}% OFF
                                {% else %}
                                    -
                                {% endif %}
                            </h5>
                        </div>
                    </div>

                    <!-- Includes GST -->
                    <div class="row mb-3">
                        <div class="col">
                                <h5>Includes GST
                                    <i class="bi bi-info-circle text-muted fs-6 ps-2"
                                    data-bs-toggle="tooltip" title="Price includes 15% GST for NZ users only"></i></h5>
                            </div>
                            <div class="col">
                                <h5 class="fw-bold"><span id="is_includes_gst">No</span></h5>
                            </div>
                    </div>

                    <div class="mt-1 mb-4" style="border-top: 1px solid #0000001a;"></div>

                    <!-- Total Price -->
                    <div class="row align-items-center mb-2">
                        <div class="col">
                            <h5>Total</h5>
                        </div>
                        <div class="col">
                            <h2 class="fw-bold"><span style="font-size: 14px;">NZD $</span><span id="price_display">{{ '%.2f'|format(subscription.price_nzd_excl_gst) }}</span></h2>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

<script>
    const billingCountry = document.getElementById('billing_country');
    const priceDisplay = document.getElementById('price_display');
    const gstDisplay = document.getElementById('is_includes_gst');

    const priceInclGST = parseFloat("{{ subscription.price_nzd_incl_gst }}");
    const priceExclGST = parseFloat("{{ subscription.price_nzd_excl_gst }}");
    function updatePrice() {
        const country = billingCountry.value;
        if (country === 'NZ') {
            priceDisplay.textContent = `${priceInclGST.toFixed(2)}`;
            document.getElementById('price_to_pay').value = priceInclGST;
            gstDisplay.textContent = `Yes`
        } else if (country) {
            priceDisplay.textContent = `${priceExclGST.toFixed(2)}`;
            document.getElementById('price_to_pay').value = priceExclGST;
            gstDisplay.textContent = `No`
        }
    }

    document.addEventListener('DOMContentLoaded', updatePrice);
    // Listen to changes in the country selection
    billingCountry.addEventListener('change', updatePrice);

    document.querySelector('form').addEventListener('submit', function (e) {
    const expiryInput = document.getElementById('expiry_date').value.trim();
    const errorDiv = document.getElementById('expiry_error');
    
    // Clear previous error messages
    errorDiv.textContent = '';
    const [inputMonth, inputYear] = expiryInput.split('/').map(Number);
    const today = new Date();
    const currentMonth = today.getMonth() + 1;
    const currentYear = today.getFullYear();
    if (inputYear < currentYear || (inputYear === currentYear && inputMonth < currentMonth)) {
        errorDiv.textContent = "The credit card has expired. Please enter a valid expiration date.";
        e.preventDefault();
        return;
    }
});

// Tooltip
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}