{% extends "base/userbase.html" %}
{% block title %}My Journeys{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'myjourney' %}

{% block content %}

<div class="container px-5 pb-5">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">

        <!-- Left - User profile sidebar -->
        <div class="col-md-4 d-flex justify-content-center px-2">
            <div class="col-md-10 p-5" style="border: 1px solid #f0f0f0; border-radius: 40px;">

                <!-- profile image -->
                {% if profile.profile_image %}
                <div class="mb-4 mx-auto align-items-center" style="width: 180px; height: 180px; overflow: hidden;">
                    <img src="/static/uploads/{{ profile.profile_image }}" class="img-fluid rounded-circle" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                {% else %}
                <div class="mb-4 mx-auto align-items-center" style="width: 180px; height: 180px; overflow: hidden;">
                    <div class="position-relative d-flex justify-content-center align-items-center bg-secondary" style="width: 180px; height: 180px; overflow: hidden; border-radius: 100%;">
                        <p class="text-white fs-5 m-0">No Avatar</p>
                    </div>
                </div>
                {% endif %}
                
                <div class="text-center align-items-center">
                    <h2 class="fw-bold">@{{ profile.username }}</h2>
                    <h6 class="fw-bold text-muted">{{ profile.location }}</h6>
                    <p class="py-4">{{ profile.personal_description }}</p>
                </div>

            </div>
        </div>
        
        <!-- Right - Journey List -->
        <div class="col-md-8 px-2">
            <div class="p-5" style="background-color: #f0f0f0; border-radius: 40px;">
                <!-- My Journey - Title -->
                <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                    <div class="mt-2 mb-5">
                        <h1 class="fw-bold">My Journey</h1>
                    </div>

                    <div class="mt-2 mb-5">
                        <a href="{{ url_for('add_journey') }}" class="btn btn-primary btn-lg"><i class="fa fa-plus me-2"></i>Add New Journey</a>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 g-5">

                    <!-- My Journey dispaly with card -->
                    {% for journey in journeyList%}
                    <div class="col-sm-6 align-items-center">
                        <div class="card border-0 rounded-5 h-100 p-4">
                            <div class="card-body">
                                
                                <!-- display journey status -->
                                <div class="pb-2">
                                    {% if journey.status == 'public' %}
                                    <span class="badge rounded-pill bg-primary">Public</span>
                                    {% elif journey.status == 'private' %}
                                    <span class="badge rounded-pill bg-secondary">Private</span>
                                    {% endif %}

                                    {% if journey.is_hidden == 1 %}
                                    <span class="badge rounded-pill bg-warning text-dark">Hidden by Staff</span>
                                    {% endif %}
                                </div>

                                <h2 class="card-title fw-bold  m-0">{{ journey.title }}</h2>
                                <h6 class="card-subtitle mb-3 py-3" style="color: #a0a0a0;">Start Date  |  {{ journey.start_date.strftime('%d %b %Y') }}</h6>
                                
                                <p class="card-text">
                                    {{ journey.description[:120] }}
                                    {% if journey.description|length > 120 %}...
                                    {% endif %}
                                </p>
                            </div>

                            <div class="card-footer bg-white border-0 rounded-5">
                                <div class="row text-center py-2">
                                    <div class="col">
                                        <a href="{{ url_for('view_journey', journey_id=journey.journey_id, mode = 'all') }}" class="btn btn-outline-primary btn-lg w-100">View Journey</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
        </div>

    </div>
</div>
  
{% endblock %}
